* {
    font-family: 'Gotu', sans-serif;
}

.main-body {
    background-image: url("./images/archives.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.percy-body {
    background-image: url("./images/percy-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wind-body {
    background-image: url("./images/wind-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.roads-body {
    background-image: url("./images/roads-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 3px 0px rgb(233, 233, 233);
    border-radius: 25px;
    margin-top: 20px;
    font-size: 60px;
    font-weight: bolder;
}

.room-link {
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: none;
}

.room-link:hover {
    background-color: rgb(255, 255, 255);
    color: red;
}

.percy-into {
    background-color: rgb(137, 137, 255, .5);
    color: white;
    margin-top: 10px;
}

.god-articles {
    color: white;
}

.god-articles:hover {
    color: black;
}

.siblings {
    margin: 20px 0pc 20px 0px;
}
/* .vertical-center {

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */

#family-tree {
    margin-top: 18%;
}

#amulet {
    max-width: 220px;
}

#puzzle-pieces {
    min-width: 480px;
}

#cross-answer {
    margin: 10px 0px 10px 0px;
}

#percy-puzzle, #percy-cross {
    margin-top: 30px;
}

#puzz-link, #puzz-link:hover {
    color: white;
}

.percyQ2, #puzzle-answer {
    margin-top: 10px;
}

.coming-soon {
    margin-top: 75px;
    font-size: 60px;
    color: white;
    text-align: center;
}

.diary-container {
    background-color: rgb(137, 137, 255);
}

.diary, .diary:hover {
    color: white;
}